// Add Fonts
@font-face {
  font-family: 'iran-sans';
  src: url("../fonts/iransans/eot/IRANSansWeb.eot") format("eot"), url("../fonts/iransans/ttf/IRANSansWeb.ttf") format("truetype"), url("../fonts/iransans/woff/IRANSansWeb.woff") format("woff"), url("../fonts/iransans/woff2/IRANSansWeb.woff2") format("woff2");
}

// Var
$gray: #808080;
$primary: #F86486;
$white: #FFFFFF;

// Mixins
@mixin flex($direction, $wrap, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
}

@mixin set-size($val) {
  width: $val;
  height: $val;
}

@mixin margin-y($val) {
  margin-top: $val;
  margin-bottom: $val;
}

@mixin margin-x($val) {
  margin-left: $val;
  margin-right: $val;
}

@mixin padding-y($val) {
  padding-top: $val;
  padding-bottom: $val;
}

@mixin padding-x($val) {
  padding-left: $val;
  padding-right: $val;
}

// Reset styles
body {
  direction: rtl !important;
  font-family: 'iran-sans' !important;
  text-align: right;
}

// Style code (copy to website)
.req-form {
  .container {
    @media screen and (max-width: 993px) {
      max-width: 100% !important;
    }
  }
}

.ui-rute {
  @include flex(row, wrap, center, center);
  @include margin-y(40px);

  &-item-num {
    @include flex(row, wrap, center, center);
    @include set-size(55px);

    border: 2px dashed $gray;
    text-align: center;
    border-radius: 50%;

    @media screen and (max-width: 375px) {
      @include set-size(45px);
    }

    p {
      margin: 0;
      font-size: 22px;
      margin-top: 2px;
      color: $gray;

      @media screen and (max-width: 375px) {
        font-size: 20px;
      }
    }
  }

  .active-item {
    border-color: $primary;
    background-color: $primary;

    p {
      color: $white;
    }
  }

  &-under {
    border-top: 2px dashed $gray;
    width: 10%;
    margin: 0;
  }

  .active-under {
    border-color: $primary;
  }
  
}

.ui-main {
  @include padding-x(200px);

  @media (max-width: 800px) {
    @include padding-x(100px);
  }

  @media (max-width: 600px) {
    @include padding-x(50px);
  }

  @media (max-width: 426px) {
    @include padding-x(0);
  }
  
  &-header {
    @include margin-y(30px);
  }

  &-info {
    font-size: 16px;
    cursor: pointer;
    transition: color .2s;

    &:hover {
      color: $primary
    }
  }

  .ui-category {
    @include margin-x(auto);
    // width: 55%;

    &-list {
      padding: 0;
      
      li {
        cursor: pointer;
      }

     &-name {
      margin-right: 15px;
     }

      &-icon-arrow {
        float: left;
      }

      &-icon-check {
        position: absolute;
        top: 15px;
        right: 10px;
      }
    }

    &-more {
      margin-top: 30px;
      cursor: pointer;

      ul {
        padding: 0;
      }
    }
  }

  .ui-product {
    .ui-content {
      .form-control {
        box-shadow: none;

        &:focus {
          border: 1px solid $primary;
        }
      }

      .ui-product-add-image {
        &-label {
          @include flex(row, wrap, center, center);

          width: 100%;
          height: 80px;
          border: 2px dashed $gray;
          color: $gray;
          cursor: pointer;

          svg {
            font-size: 45px;
            margin-left: 10px;
          }

          span {
            font-size: 20px;
          }
        }
        &-inp {
          display: none;
        }
      }
      
      .ui-product-images {
        .ui-product-image {
          @include margin-y(10px);

          width: 180px;
          height: 180px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .ui-user {
    .ui-content {
      .form-control {
        box-shadow: none;

        &:focus {
          border: 1px solid $primary;
        }
      }    }
  }
}

// !هم سنگرمی